<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Doctor Dashboard</title>
    <link rel="stylesheet" href="../static/dashboard.css" />
  </head>

  <body class="dashboard">
    <div id="dashboard">
      <header class="top-banner">
        <h1>Medical Portal - Doctor Dashboard</h1>
        <div class="user-info">
          <span id="user-info">Welcome Doctor</span> <br />
          <button id="logout-btn" class="logout-btn">Logout</button>
        </div>
      </header>

      <div class="main-layout">
        <nav class="sidebar">
          <ul class="nav-links">
            <li><a href="doctor_appointments.html">Appointments</a></li>
            <li>
              <a href="doctor_filetransfer.html">File Transfer & Inbox</a>
            </li>
            <li><a href="doctor_pfp.html">Doctor Profile</a></li>
          </ul>
        </nav>

        <div class="main-content">
          <div class="dashboard-card">
            <h2>Appointments</h2>
            <p>
              View and manage appointments scheduled with assigned patients.
            </p>
            <div class="stat-box">
              <p>
                Upcoming: <strong id="appointment-count">Loading...</strong>
              </p>
            </div>
          </div>

          <div class="dashboard-card">
            <h2>File Inbox</h2>
            <p>View and manage your files and documents.</p>
            <div class="stat-box">
              <p>Files: <strong id="file-count">Loading...</strong></p>
            </div>
          </div>

          <div class="dashboard-card">
            <h2>Personal Info</h2>
            <p>View your profile information and assigned patients.</p>
            <div class="stat-box">
              <p><strong>Role:</strong> Doctor</p>
            </div>
          </div>

          <div class="dashboard-card">
            <h2>Permissions</h2>
            <p>Available Actions based on Role:</p>
            <div class="stat-box">
              <ul style="margin: 5px 0; padding-left: 20px; color: #333">
                <li>View Appointments scheduled with assigned patients.</li>
                <li>View, Upload, Download Files to assigned patients.</li>
                <li>View Personal Doctor Profile.</li>
              </ul>
            </div>
          </div>

          <div class="bottom-disclaimer">
            <strong>Disclaimer:</strong> This is a demo application for
            educational purposes only. It does not store or transmit any real
            user data and should not be used in a real medical setting.
          </div>
        </div>
      </div>
    </div>

    <script src="../static/app.js"></script>
  </body>
</html>
