<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Patient Dashboard</title>
    <link rel="stylesheet" href="../static/dashboard.css" />
  </head>

  <body class="dashboard">
    <header class="top-banner">
      <h1>Medical Portal - Patient Dashboard</h1>

      <div class="user-info">
        <span id="user-info">Welcome, Patient</span> <br />
        <button id="logout-btn" class="logout-btn">Logout</button>
      </div>
    </header>

    <div class="main-layout">
      <nav class="sidebar">
        <ul class="nav-links">
          <li><a href="patient_appointments.html">Appointments</a></li>
          <li>
            <a href="patient_filetransfer.html">File Transfer & Inbox</a>
          </li>
          <li><a href="patient_pfp.html">Patient Profile</a></li>
        </ul>
      </nav>

      <div class="main-content">
        <section id="appointments">
          <h2>Appointments</h2>
          <p>
            Schedule and manage your appointments with healthcare providers.
          </p>
        </section>

        <section id="files">
          <h2>File Inbox</h2>
          <p>View and manage your files and documents.</p>
        </section>

        <section id="profile">
          <h2>Personal Info</h2>
          <p>View your information and Provider</p>
        </section>

        <div class="bottom-disclaimer">
          <strong>Disclaimer:</strong> This is a demo application for
          educational purposes only. It does not store or transmit any real user
          data and should not be used in a real medical setting.
        </div>
      </div>
    </div>

    <script src="../static/app.js"></script>
  </body>
</html>
