# copy to .env and fill values
# for local testing w/o terraform

# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=yourpassword

# Secret Key for PASETO token generation
SECRET_KEY=addsecretkey